
.article-feed {
  $gutter: 28px;
  article.card {
    margin-bottom: $base-spacing;
  }
  @media only screen and (min-width: $phone) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -#{$gutter / 2};
    margin-right: -#{$gutter / 2};
    article.card {
      width: calc(50% - #{$gutter});
    }
  }
  @media only screen and (min-width: $tablet) {
    article.card {
      width: calc(33.3333% - #{$gutter});
    }
  }

  .card__title {
    font-size: 1.3em;
    margin-bottom: .5em;
    margin-top: $small-spacing;
  }

  .card__image {
    @include aspect-ratio(16, 9);
    background-size: cover;
    background-position: center center;
  }
}
