* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,body {
  width: 100%;
  font-size: $base-font-size;
  line-height: base-line-height;
  overflow-x: hidden;
}

body {
  font-family: $base-font;
  letter-spacing: .02em;
  font-weight: 300;
  font-size: $base-font-size;
  color: $base-font-color;
  transition: all .4s .3s ease-in;
}

img,svg {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}
