h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: $heading-line-height;
  font-size: $heading-font-size;
  margin-top: 0;
  letter-spacing: .02em;
  margin-bottom: $small-spacing;
  @media only screen and (min-width: 600px) {
    font-size: $heading-font-size--largescreen;
  }
}

p {
  margin-top: 0;
}
