$base-background : #00698F;
$darken : darken($base-background , 30%);
$back: darken($base-background, 40%);

$base-font : Roboto, 'Roboto', Helvetica, sans-serif;
$base-font-color : $base-background;
$base-font-size : 24px;
$heading-font-size : 1.4rem;
$heading-font-size--largescreen : 1.9rem;
$base-line-height : 1.2;
$heading-line-height : 1.3;

$base-spacing : 1.5rem;
$small-spacing : $base-spacing / 2;
$large-spacing : $base-spacing * 2;


$max-width: 52rem;
$tablet: 40rem;
$laptop: 60rem;
$phone: 25rem;

@mixin outer-container--padded() {
  max-width: $max-width;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
