.header {
  position: relative;

  .global-header {
    @include outer-container--padded;

    &-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: $base-spacing;
      align-items: center;
    }

  }
  background: $base-background;
  color: white;
  .site-tagline {
    text-align: right;
    @include outer-container--padded;
    h1 {
      max-width: 90%;
      float: right;
      padding: $large-spacing 0 5rem;
    }
  }

  &__slice {
    bottom: 0;
    position: absolute;
  }
}

.logo {
  width: 11rem;
  img {
    width: 100%;
  }
}
